#aboutme .container {
    display: flex;
    flex-wrap: wrap;
}

#Education .container {
    display: flex;
    flex-wrap: wrap;
}

#aboutme .left-column,
#aboutme .right-column {
    flex: 1;
    padding: 10px;
}

#Education .left-column,
#Education .right-column {
    flex: 1;
    padding: 10px;
}

#aboutme .left-column {
    max-width: 300px; /* Adjust the max-width as needed */
}

#Education .left-column {
    max-width: 300px; /* Adjust the max-width as needed */
}

#aboutme .right-column {
    flex: 2;
    max-width: 600px; /* Set a specific max-width for the right column */
}

#Education .right-column {
    flex: 2;
    max-width: 600px; /* Set a specific max-width for the right column */
}

@media (max-width: 768px) {
    #aboutme .container {
        flex-direction: column;
    }

    #aboutme .left-column,
    #aboutme .right-column {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    #Education .container {
        flex-direction: column;
    }

    #Education .left-column,
    #Education .right-column {
        max-width: 100%;
    }
}

.fab.fa-linkedin {
    font-size: 1.2em;
    margin-right: 5px;
    color: #0077b5; /* LinkedIn's brand color */
}

.icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

#Teaching {
    text-align: center;
}

.teaching-list {
    display: inline-block;
    text-align: left; /* Align the list items to the left within the centered container */
    padding-left: 20px; /* Optional: Add padding for better appearance */
}
#Publication {
    text-align: center;
}

.publication {
    display: inline-block;
    text-align: left; /* Align the list items to the left within the centered container */
    padding-left: 20px; /* Optional: Add padding for better appearance */
}


nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

#content {
    margin-top: 20px;
    padding: 20px;
}

section {
    display: none;
}

section.active {
    display: block;
}







